@import '../abstracts/mixins.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  @include respond(phone) {
  }
}

html {
  font-size: 62.5%;
}
.app-wrapper {
  position: relative;
  overflow-x: hidden;
}
