@import '../abstracts/mixins.scss';

.dashboard {
  position: relative;
  top: 6rem;
  height: 40rem;
  display: flex;
  max-width: 100%;
  // justify-content: center;
  padding: 3rem 4rem;
  font-size: 1.6rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }
  &-main {
    width: 80%;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &-nav {
    width: 20%;
    @include respond(tab-port) {
      width: 100%;
    }

    &__head {
      font-family: 'proxima-nova', sans-serif;
      padding: 1rem 0;
      border-bottom: 1px solid #dbdbdb;
    }
    &__links {
      list-style-type: none;
      @include respond(tab-port) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        border-bottom: 1px solid #dbdbdb;
      }

      &-item {
        text-transform: capitalize;
        padding: 0.5rem 0;
        & a {
          text-decoration: none;
          color: $brown-primary;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-bottom: 2rem;
    & img {
      width: 20rem;
      border-radius: 50%;
    }
  }
  &__name {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.purchase-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 100%;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    font-size: 2rem;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 2rem;
  }
  &__headers {
    width: 100%;
    display: grid;
    grid-template-columns: 33.4% repeat(4, 16.67%);
    justify-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #dbdbdb;
  }

  &__block {
    width: 100%;
    &-item {
      width: 100%;
      display: grid;
      grid-template-columns: 33.4% repeat(4, 16.67%);
      justify-items: center;
      align-items: center;
      margin-bottom: 2rem;
      padding: 1rem 0;
      border-bottom: 1px solid #dbdbdb;
    }

    &-products {
      width: 100%;
      display: flex;

      &-image {
        width: 10rem;
        background-color: #f3f3f3;
        & img {
          width: 10rem;
        }
      }
      &-name {
        margin-left: 2rem;
      }
    }
  }
}

.order-status {
  background-color: #dbdbdb;
  padding: 0.5rem;
  line-height: 2;
}

.address-card {
  background-color: #f3f3f3;
  padding: 2rem 6rem;
  border-radius: 5rem;
}
